@media print and (min-width: 1024px) {

    col-xs-12 {
        width: 100%;
    }

    .col-sm-3 {
        width: 100%;
    }

    col-xs-6 {
        width: 100%%;
    }

    col-xs-8 {
        width: 100%%;
    }
}
