<div class="uk-modal uk-modal-card-fullscreen" id="@ViewBag.ModalId">
    <div class="uk-modal-dialog uk-modal-dialog-blank">
        <div class="md-card uk-height-viewport">
            <div class="md-card-toolbar">
                <div class="md-card-toolbar-actions">
                    <button type="button" class="uk-modal-close uk-close"></button>
                </div>
                <span class="md-icon material-icons uk-modal-close">keyboard_arrow_left</span>
                <h3 class="md-card-toolbar-heading-text modaltitle">
                    @ViewBag.ModalTitle
                </h3>
            </div>
            <div class="md-card-content modalcontent">
                @RenderBody()
            </div>
        </div>
    </div>
</div>