<div class="row hidden-print" id="backbutton">
    <div class="col-xs-3">
        <a class="btn btn-block btn-default" onclick="back();">Back</a>
    </div>
    <div class="col-xs-6"></div>
    <div class="col-xs-3">
        <a class="btn btn-block btn-info" onclick="printAll()">Print</a>
    </div>
    <hr />
</div>
<fieldset class="hidden-print">
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12"><img src="~/Content/images/logo-alittihad.png" alt="Al Ittihad" class="img-responsive center-block" style="margin-left: auto !important;margin-right: auto !important;" height="100" width="200" /></div>
        <div class="col-md-6 col-sm-6 col-xs-12">
            <h4 class="text-center">
                YAYASAN MASJID AL ITTIHAD <br />
                LEGENDA WISATA
            </h4>
            <address class="text-center">
                Alamat : Jl. Raya Boulevard Legenda Wisata Wanaherang <br />
                Kec. Gunung Putri, Kab. Bogor 16965 Telp/Fax : (021) 82498368
            </address>
        </div>
        <div class="col-xs-3 hidden-print"></div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <p>PANITIA IDUL ADHA DAN QURBAN <span id="hijriyear"></span> M / <span id="masehiyear"></span> M </p>
            <p>Tanggal : <span id="now"></span></p>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12">
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-3">
                        <label for="Vendor">Vendor</label>
                    </div>
                    <div class="col-xs-8">
                        <select id="vendor" class="form-control"><option class="form-control">--Select--</option></select>
                        <div id="stok_vendor">Stok Kambing :<span id="stok_kambing"></span><br />Stok Sapi : <span id="stok_sapi"></span></div>
                    </div>
                </div>
            </div>
            <div class="form-group" id="noProduct">
                <div class="row">
                    <div class="col-xs-3">
                        <label for="NoUrut">No Urut</label>
                    </div>
                    <div class="col-xs-8">
                        <strong style="font-size:larger" id="NoUrut"></strong>
                    </div>
                </div>
            </div>
            <div class="form-group" id="nota">
                <div class="row">
                    <div class="col-xs-3">
                        <label for="NoNota">No.Nota</label>
                    </div>
                    <div class="col-xs-8">
                        <strong id="NoNota"></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <p>Sudah diterima dari : </p>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <label for="Nama">Nama</label>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <input type="text" class="form-control" placeholder="Nama PengQurban" id="Nama">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-3">
                        <label for="Telp">Telp</label>
                    </div>
                    <div class="col-xs-8">
                        <input type="text" class="form-control" placeholder="No Telp" id="Telp">
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-3">
                        <label for="Alamat">Alamat</label>
                    </div>
                    <div class="col-xs-8">
                        <textarea type="text" class="form-control" cols="3" rows="5" placeholder="Alamat" id="Address" required></textarea>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row" name="oldFamz">
                    <div class="col-xs-3">
                        <label for="Family">Pahala Qurban</label>
                    </div>
                    <div class="col-xs-8">
                        <div class="row" id="1">
                            <div class="col-xs-8">
                                <span id="family"></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" name="newFamz">
                    <div class="col-xs-3">
                        <label for="Family">Pahala Qurban</label>
                    </div>
                    <div class="col-xs-8" id="listFamily">
                        <span id="newFamily"></span>
                        <div class="row hidden-print" id="1">
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Family" id="Family1" data-id="">
                            </div>
                            <div class="col-md-4"><button onclick="add();"> <i class="glyphicon-plus"></i></button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-6 col-xs-12">
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <label for="Hewan">Type Hewan</label>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <select class="form-control" id="producttype">
                            <option value="value">-- Select --</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <label for="Hewan">Hewan Qurban</label>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <select class="form-control" id="product">
                            <option value="value">-- Select --</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group" id="urutan">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <label for="no_urut">No Urut Penyembelihan</label>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <input type="number" class="form-control" min="0" placeholder="No Urut Penyembelihan" id="no_urut" />
                    </div>
                </div>
            </div>
            <div class="form-group" id="bagian_sapi">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <label for="Jumlah">Jumlah</label>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <select class="form-control" id="bagian">
                            <option value="value">-- Select --</option>
                            <option value="1">1</option>
                            <option value="6/7">6/7</option>
                            <option value="5/7">5/7</option>
                            <option value="4/7">4/7</option>
                            <option value="3/7">3/7</option>
                            <option value="2/7">2/7</option>
                            <option value="1/7">1/7</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="form-group family">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <label for="Harga">Harga</label>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <input type="text" class="form-control" placeholder="Harga Hewan Qurban" id="Harga" disabled>
                    </div>
                </div>
            </div>
            <div class="form-group family">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <label for="BiayaPemotongan">Biaya Sembelih</label>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8">
                        <input type="text" class="form-control" placeholder="Biaya Pemotongan" readonly="readonly" id="BiayaPemotongan">
                    </div>
                </div>
            </div>
            @*<div class="form-group family">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-3">
                    <label for="BiayaPemeliharaan">Biaya Titip</label>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-8">
                    <div class="row">
                        <div class="col-sm-8 col-xs-6">
                            <input type="text" class="form-control" placeholder="Biaya Pemeliharaan" readonly="readonly" id="BiayaPemeliharaan">
                        </div>
                        <div class="col-sm-4 col-xs-6">
                            <input type="number" class="form-control" placeholder="Hari" id="qtydays">
                        </div>
                    </div>
                </div>
            </div>
        </div>*@
            <div class="form-group family">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <label for="Infaq">Infaq</label>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8" id="listFamily">
                        <input type="text" class="form-control" placeholder="Infaq" id="Infaq">
                    </div>
                </div>
            </div>
            <div class="form-group family">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <label for="Total">Total</label>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8" id="listFamily">
                        <input type="text" class="form-control" placeholder="Total" id="Total" readonly="readonly">
                    </div>
                </div>
            </div>
            <div class="form-group family">
                <div class="row">
                    <div class="col-md-3 col-sm-3 col-xs-3">
                        <label for="Req">Bagian Hewan Qurban yang diinginkan :</label>
                    </div>
                    <div class="col-md-8 col-sm-8 col-xs-8" id="listFamily">
                        <textarea type="text" class="form-control" placeholder="Bagian Hewan Qurban yang diinginkan" id="Req"></textarea>
                    </div>
                </div>
            </div>
            <button id="submit" onclick="Submit()" class="btn btn-info btn-block hidden-print">Submit</button>
        </div>
        <div class="col-xs-6"></div>
    </div>
</fieldset>


<div id="print_area" class="visible-print">
    <div class="col-sm-8 col-sm-offset-2" id="print_area_content">
        <div class="row" style="border: solid; margin-top: 0px;">
            <div class="col-md-3 col-xs-3">
                <img src="/Content/images/logo-alittihad.png" alt="Al Ittihad" class="center-block logo-alittihad" height="85" width="254" style="margin-top: 8px;">
            </div>
            <div class="col-md-9 col-xs-9" style="margin-top: 0px;">
                <h4 class="text-center title-nota">
                    YAYASAN MASJID AL ITTIHAD <br>
                    LEGENDA WISATA
                </h4>
                <address class="text-center address-nota" style="font-size: 12px;">
                    Alamat : Jl. Raya Boulevard Legenda Wisata Wanaherang <br>
                    Kec. Gunung Putri, Kab. Bogor 16965 Telp/Fax : (021) 82498368
                </address>
            </div>
            <hr />
            <div class="row" style="margin-top:-14px;margin-left:2px;margin-bottom: -20px;">
                <div class="col-md-6 col-xs-6">
                    <p>PANITIA IDUL ADHA DAN QURBAN </p>
                    <p>TAHUN <span id="p_hijriyear"></span> H / <span id="p_masehiyear"></span> M </p>
                    <p>Tanggal : <span id="p_now"></span></p>
                </div>
                <div class="col-md-6 col-xs-6">
                    <p>No. Nota : <span id="p_no_nota"></span></p>
                    <p>No. Urut : <span id="p_no_urut"></span></p>
                    <p>Vendor : <span id="p_vendor"></span> </p>
                </div>
            </div>
            <hr />
            <div class="row" style="margin-top:-14px;margin-left:2px;margin-bottom: -20px;">
                <div class="col-md-6 col-xs-6">
                    <p>Sudah Terima Dari : </p>
                    <p>Nama Pengqurban : <span id="p_nama"></span></p>
                    <p>Alamat : <span id="p_alamat"></span></p>
                    <p>No Tlp / Hp : <span id="p_telp"></span></p>
                    <p>Pahala Qurban :</p>
                    <span id="p_family"></span>
                </div>
                <div class="col-md-6 col-xs-6">
                    <p>Kelas : <span id="p_kelas"></span></p>
                    <p>Harga : <span id="p_harga"></span> <span id="p_bagian"></span></p>
                    <p>Biaya Pemotongan : <span id="p_biayapemotongan"></span></p>
                    @*<p>Biaya Pemeliharaan : <span id="p_biayapemeliharaan"></span></p>*@
                    <p>Infaq : <span id="p_infaq"></span></p>
                    <p>Total : <span id="p_total"></span></p>
                    <p>Bagian Hewan Qurban yang diinginkan :</p>
                    <p id="p_note"></p>
                    <br />
                    <br />
                    <p>Mohon tanda terima ini dibawa ketika Hari Penyembelihan Hewan Qurban</p>
                </div>
            </div>
            <hr />
            <div class="row" style="margin-top:-14px;margin-left:2px;margin-bottom: -20px;">
                <div class="col-md-6 col-xs-6 text-center">
                    <p>Yang Menerima :</p>
                    <br />
                    <br />
                    <br />
                    <p>(<span id="p_penerima"></span>)</p>
                </div>
                <div class="col-md-6 col-xs-6 text-center">
                    <p>Yang Menyerahkan :</p>
                    <br />
                    <br />
                    <br />
                    <p>(<span id="p_customer"></span>)</p>
                </div>
            </div>
        </div>
    </div>

    <hr style="border-style: dashed; border-width:1px;" />

    <div class="col-sm-8 col-sm-offset-2" id="print_area_content">
        <div class="row" style="border: solid; margin-top: 0px;">
            <div class="col-md-3 col-xs-3">
                <img src="/Content/images/logo-alittihad.png" alt="Al Ittihad" class="center-block logo-alittihad" height="85" width="254" style="margin-top: 8px;">
            </div>
            <div class="col-md-9 col-xs-9" style="margin-top: 0px;">
                <h4 class="text-center title-nota">
                    YAYASAN MASJID AL ITTIHAD <br>
                    LEGENDA WISATA
                </h4>
                <address class="text-center address-nota" style="font-size: 12px;">
                    Alamat : Jl. Raya Boulevard Legenda Wisata Wanaherang <br>
                    Kec. Gunung Putri, Kab. Bogor 16965 Telp/Fax : (021) 82498368
                </address>
            </div>
            <hr />
            <div class="row" style="margin-top:-14px;margin-left:2px;margin-bottom: -20px;">
                <div class="col-md-6 col-xs-6">
                    <p>PANITIA IDUL ADHA DAN QURBAN </p>
                    <p>TAHUN <span id="p_hijriyear1"></span> H / <span id="p_masehiyear1"></span> M </p>
                    <p>Tanggal : <span id="p_now1"></span></p>
                </div>
                <div class="col-md-6 col-xs-6">
                    <p>No. Nota : <span id="p_no_nota1"></span></p>
                    <p>No. Urut : <span id="p_no_urut1"></span></p>
                    <p>Vendor : <span id="p_vendor1"></span> </p>
                </div>
            </div>
            <hr />
            <div class="row" style="margin-top:-14px;margin-left:2px;margin-bottom: -20px;">
                <div class="col-md-6 col-xs-6">
                    <p>Sudah Terima Dari :</p>
                    <p>Nama Pengqurban : <span id="p_nama1"></span></p>
                    <p>Alamat : <span id="p_alamat1"></span></p>
                    <p>No Tlp / Hp : <span id="p_telp1"></span></p>
                    <p>Pahala Qurban :</p>
                    <span id="p_family1"></span>
                </div>
                <div class="col-md-6 col-xs-6">
                    <p>Kelas : <span id="p_kelas1"></span></p>
                    <p>Harga : <span id="p_harga1"></span> <span id="p_bagian1"></span></p>
                    <p>Biaya Pemotongan : <span id="p_biayapemotongan1"></span></p>
                    @*<p>Biaya Pemeliharaan : <span id="p_biayapemeliharaan1"></span></p>*@
                    <p>Infaq : <span id="p_infaq1"></span></p>
                    <p>Total : <span id="p_total1"></span></p>
                    <p>Bagian Hewan Qurban yang diinginkan :</p>
                    <p id="p_note1"></p>
                    <br />
                    <br />
                    <p>Mohon tanda terima ini dibawa ketika Hari Penyembelihan Hewan Qurban</p>
                </div>
            </div>
            <hr />
            <div class="row" style="margin-top:-14px;margin-left:2px;margin-bottom: -20px;">
                <div class="col-md-6 col-xs-6 text-center">
                    <p>Yang Menerima :</p>
                    <br />
                    <br />
                    <br />
                    <p>(<span id="p_penerima1"></span>)</p>
                </div>
                <div class="col-md-6 col-xs-6 text-center">
                    <p>Yang Menyerahkan :</p>
                    <br />
                    <br />
                    <br />
                    <p>(<span id="p_customer1"></span>)</p>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <style>
        @@media print {
            html, body {
                height: 297mm;
                width: 210mm;
                padding: 0px;
            }

            p {
                margin-top: 0px;
                margin-bottom: 0px;
                font-size: 12px;
            }

            hr {
                border-style: solid;
                border-width: 2px;
            }
        }

        .tt-query, /* UPDATE: newer versions use tt-input instead of tt-query */
        .tt-hint {
            /*width: 396px;
        height: 30px;
        padding: 8px 12px;
        font-size: 24px;*/
            line-height: 30px;
            border: 2px solid #ccc;
            border-radius: 8px;
            outline: none;
        }

        .tt-query { /* UPDATE: newer versions use tt-input instead of tt-query */
            box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        }

        .tt-hint {
            color: #999;
        }

        .tt-menu { /* UPDATE: newer versions use tt-menu instead of tt-dropdown-menu */
            width: 422px;
            margin-top: 12px;
            padding: 8px 0;
            background-color: #fff;
            border: 1px solid #ccc;
            border: 1px solid rgba(0, 0, 0, 0.2);
            border-radius: 8px;
            box-shadow: 0 5px 10px rgba(0,0,0,.2);
        }

        .tt-suggestion {
            padding: 3px 20px;
            font-size: 18px;
            line-height: 24px;
        }

            .tt-suggestion.tt-is-under-cursor { /* UPDATE: newer versions use .tt-suggestion.tt-cursor */
                color: #fff;
                background-color: #0097cf;
            }
    </style>
    <script type="text/javascript" src="~/Scripts/pages/transaksi.js?v=@DateTime.Now"></script>
}
